/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat:wght@100..900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
   --header-height: 3.5rem;

   /*========== Colors ==========*/
   /*Color mode HSL(hue, saturation, lightness)*/
   --title-color: hsl(220, 8%, 10%);
   --text-color: hsl(220, 8%, 40%);
   --white-color: hsl(0, 0%, 100%);
   --black-color: hsl(220, 8%, 6%);
   --body-color: hsl(220, 8%, 99%);
   --container-color: hsl(220, 8%, 96%);
   --opacity-color-30: hsla(0, 0%, 90%, .3);
   --opacity-color-20: hsla(0, 0%, 90%, .2);

   /*========== Font and typography ==========*/
   /*.5rem = 8px | 1rem = 16px ...*/
   --body-font: "Montserrat", sans-serif;
   --second-font: "Dancing Script", cursive;

   --biggest-font-size: 3rem;
   --big-font-size: 1.5rem;
   --h1-font-size: 1.5rem;
   --h2-font-size: 1.25rem;
   --h3-font-size: 1rem;
   --normal-font-size: .938rem;
   --small-font-size: .813rem;

   // Responsive typography
   @media screen and (min-width: 1150px){
      --biggest-font-size: 6rem;
      --big-font-size: 3rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
   }

	/*========== Font weight ==========*/
   --font-regular: 400;
   --font-medium: 500;
   --font-semi-bold: 600;
   --font-bold: 700;

	/*========== z index ==========*/
   --z-tooltip: 10;
   --z-fixed: 100;
}
